@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Gantari:wght@300&display=swap');

:root{
    --first-color: #FFD200;
    --second-color: #407BFF;
    --third-color: #ffffff;
}

body{
    font-family: 'Belanosima', sans-serif;
}
a{
    text-decoration: none;
}

#login_form img{
    width: 100%;
    height: auto;
}
.form-control:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
    transition: .3s;
}
#signup{
    color: var(--second-color);
}
#forgetPassword{
    color: var(--second-color);
}
.login_btn{
    background-color: var(--first-color);
    transition: .3s;
}
.login_btn:hover{
    background: #407BFF;
    color: var(--third-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-4px);
    transition: .3s;
}